{% extends 'mainapp/base.html' %}
{% load static %}

{% block 'content'%}

<section class="mt-10">
    <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-15">Таблица цветов RAL</h2>
          </div>
        </div>
    </div>
</section>


<div class="mt-5">

    <div class="wrap-color">
        <div class="color" style="background: #bfbc81;"><p class="ral-txt">RAL 1000</p></div>
        <div class="color" style="background: #c5af74;"><p class="ral-txt">RAL 1001</p></div>
        <div class="color" style="background: #c2a76b;"><p class="ral-txt">RAL 1002</p></div>
        <div class="color" style="background: #e5bd04;"><p class="ral-txt">RAL 1003</p></div>
        <div class="color" style="background: #cda337;"><p class="ral-txt">RAL 1004</p></div>
        <div class="color" style="background: #a4840c;"><p class="ral-txt">RAL 1005</p></div>
        <div class="color" style="background: #e3a011;"><p class="ral-txt">RAL 1006</p></div>
        <div class="color" style="background: #d79f02;"><p class="ral-txt">RAL 1007</p></div>
        <div class="color" style="background: #8d6544;"><p class="ral-txt">RAL 1011</p></div>
        <div class="color" style="background: #c4b548;"><p class="ral-txt">RAL 1012</p></div>
        <div class="color" style="background: #ebe6c8;"><p class="ral-txt txt-black">RAL 1013</p></div>

        <div class="color" style="background: #e0cc52;"><p class="ral-txt">RAL 1014</p></div>
        <div class="color" style="background: #e7d78d;"><p class="ral-txt txt-black">RAL 1015</p></div>
        <div class="color" style="background: #f0fe1b;"><p class="ral-txt txt-black">RAL 1016</p></div>
        <div class="color" style="background: #f6d02e;"><p class="ral-txt">RAL 1017</p></div>
        <div class="color" style="background: #fbf12f;"><p class="ral-txt txt-black">RAL 1018</p></div>
        <div class="color" style="background: #9d9862;"><p class="ral-txt">RAL 1019</p></div>
        <div class="color" style="background: #999a4d;"><p class="ral-txt">RAL 1020</p></div>
        <div class="color" style="background: #f2dd00;"><p class="ral-txt txt-black">RAL 1021</p></div>
        <div class="color" style="background: #fad202;"><p class="ral-txt">RAL 1023</p></div>
        <div class="color" style="background: #b09e4d;"><p class="ral-txt">RAL 1024</p></div>
        <div class="color" style="background: #ffffff;"><p class="ral-txt txt-black">RAL 1026</p></div>

        <div class="color" style="background: #9f9003;"><p class="ral-txt">RAL 1027</p></div>
        <div class="color" style="background: #f5a801;"><p class="ral-txt">RAL 1028</p></div>
        <div class="color" style="background: #d4ae02;"><p class="ral-txt">RAL 1032</p></div>
        <div class="color" style="background: #f3a506;"><p class="ral-txt">RAL 1033</p></div>
        <div class="color" style="background: #f2a74c;"><p class="ral-txt">RAL 1034</p></div>
        <div class="color" style="background: #695b4e;"><p class="ral-txt">RAL 1035</p></div>
        <div class="color" style="background: #715236;"><p class="ral-txt">RAL 1036</p></div>
        <div class="color" style="background: #f49e16;"><p class="ral-txt">RAL 1037</p></div>
        <div class="color" style="background: #ec770e;"><p class="ral-txt">RAL 2000</p></div>
        <div class="color" style="background: #c93c20;"><p class="ral-txt">RAL 2001</p></div>
        <div class="color" style="background: #cb291e;"><p class="ral-txt">RAL 2002</p></div>

        <div class="color" style="background: #fe710f;"><p class="ral-txt">RAL 2003</p></div>
        <div class="color" style="background: #f8450d;"><p class="ral-txt">RAL 2004</p></div>
        <div class="color" style="background: #ff2105;"><p class="ral-txt">RAL 2005</p></div>
        <div class="color" style="background: #fca524;"><p class="ral-txt">RAL 2007</p></div>
        <div class="color" style="background: #f85e22;"><p class="ral-txt">RAL 2008</p></div>
        <div class="color" style="background: #f64020;"><p class="ral-txt">RAL 2009</p></div>
        <div class="color" style="background: #d94a20;"><p class="ral-txt">RAL 2010</p></div>
        <div class="color" style="background: #eb7b31;"><p class="ral-txt">RAL 2011</p></div>
        <div class="color" style="background: #e15236;"><p class="ral-txt">RAL 2012</p></div>
        <div class="color" style="background: #c5582d;"><p class="ral-txt">RAL 2013</p></div>
        <div class="color" style="background: #ad2c1c;"><p class="ral-txt">RAL 3000</p></div>

        <div class="color" style="background: #a5201a;"><p class="ral-txt">RAL 3001</p></div>
        <div class="color" style="background: #a5211d;"><p class="ral-txt">RAL 3002</p></div>
        <div class="color" style="background: #9e0f21;"><p class="ral-txt">RAL 3003</p></div>
        <div class="color" style="background: #73161d;"><p class="ral-txt">RAL 3004</p></div>
        <div class="color" style="background: #5e2129;"><p class="ral-txt">RAL 3005</p></div>
        <div class="color" style="background: #432128;"><p class="ral-txt">RAL 3007</p></div>
        <div class="color" style="background: #622522;"><p class="ral-txt">RAL 3009</p></div>
        <div class="color" style="background: #7b1e19;"><p class="ral-txt">RAL 3011</p></div>
        <div class="color" style="background: #bf886a;"><p class="ral-txt">RAL 3012</p></div>
        <div class="color" style="background: #a2240f;"><p class="ral-txt">RAL 3013</p></div>
        <div class="color" style="background: #d16e70;"><p class="ral-txt">RAL 3014</p></div>

        <div class="color" style="background: #eb8a98;"><p class="ral-txt">RAL 3015</p></div>
        <div class="color" style="background: #b4281f;"><p class="ral-txt">RAL 3016</p></div>
        <div class="color" style="background: #e73145;"><p class="ral-txt">RAL 3017</p></div>
        <div class="color" style="background: #d23233;"><p class="ral-txt">RAL 3018</p></div>
        <div class="color" style="background: #c40b00;"><p class="ral-txt">RAL 3020</p></div>
        <div class="color" style="background: #d9502e;"><p class="ral-txt">RAL 3022</p></div>
        <div class="color" style="background: #f80000;"><p class="ral-txt">RAL 3024</p></div>
        <div class="color" style="background: #ff0201;"><p class="ral-txt">RAL 3026</p></div>
        <div class="color" style="background: #c61c37;"><p class="ral-txt">RAL 3027</p></div>
        <div class="color" style="background: #cd3136;"><p class="ral-txt">RAL 3028</p></div>
        <div class="color" style="background: #b22428;"><p class="ral-txt">RAL 3031</p></div>

        <div class="color" style="background: #6f1621;"><p class="ral-txt">RAL 3032</p></div>
        <div class="color" style="background: #b04e40;"><p class="ral-txt">RAL 3033</p></div>
        <div class="color" style="background: #6b405b;"><p class="ral-txt">RAL 4001</p></div>
        <div class="color" style="background: #932b3e;"><p class="ral-txt">RAL 4002</p></div>
        <div class="color" style="background: #dd4d8b;"><p class="ral-txt">RAL 4003</p></div>
        <div class="color" style="background: #651b32;"><p class="ral-txt">RAL 4004</p></div>
        <div class="color" style="background: #694877;"><p class="ral-txt">RAL 4005</p></div>
        <div class="color" style="background: #a03377;"><p class="ral-txt">RAL 4006</p></div>
        <div class="color" style="background: #481b2c;"><p class="ral-txt">RAL 4007</p></div>
        <div class="color" style="background: #924e7e;"><p class="ral-txt">RAL 4008</p></div>
        <div class="color" style="background: #a18593;"><p class="ral-txt">RAL 4009</p></div>

        <div class="color" style="background: #d5307b;"><p class="ral-txt">RAL 4010</p></div>
        <div class="color" style="background: #8574a0;"><p class="ral-txt">RAL 4011</p></div>
        <div class="color" style="background: #6c6973;"><p class="ral-txt">RAL 4012</p></div>
        <div class="color" style="background: #374b79;"><p class="ral-txt">RAL 5000</p></div>
        <div class="color" style="background: #1d343a;"><p class="ral-txt">RAL 5001</p></div>
        <div class="color" style="background: #1e234c;"><p class="ral-txt">RAL 5002</p></div>
        <div class="color" style="background: #201c36;"><p class="ral-txt">RAL 5003</p></div>
        <div class="color" style="background: #1b161a;"><p class="ral-txt">RAL 5004</p></div>
        <div class="color" style="background: #1b2759;"><p class="ral-txt">RAL 5005</p></div>
        <div class="color" style="background: #405e8a;"><p class="ral-txt">RAL 5007</p></div>
        <div class="color" style="background: #26252a;"><p class="ral-txt">RAL 5008</p></div>

        <div class="color" style="background: #00576b;"><p class="ral-txt">RAL 5009</p></div>
        <div class="color" style="background: #10284e;"><p class="ral-txt">RAL 5010</p></div>
        <div class="color" style="background: #251a23;"><p class="ral-txt">RAL 5011</p></div>
        <div class="color" style="background: #4082b5;"><p class="ral-txt">RAL 5012</p></div>
        <div class="color" style="background: #1c203b;"><p class="ral-txt">RAL 5013</p></div>
        <div class="color" style="background: #5f6f89;"><p class="ral-txt">RAL 5014</p></div>
        <div class="color" style="background: #2271b5;"><p class="ral-txt">RAL 5015</p></div>
        <div class="color" style="background: #073777;"><p class="ral-txt">RAL 5017</p></div>
        <div class="color" style="background: #40888f;"><p class="ral-txt">RAL 5018</p></div>
        <div class="color" style="background: #185780;"><p class="ral-txt">RAL 5019</p></div>
        <div class="color" style="background: #223448;"><p class="ral-txt">RAL 5020</p></div>

        <div class="color" style="background: #276d76;"><p class="ral-txt">RAL 5021</p></div>
        <div class="color" style="background: #252852;"><p class="ral-txt">RAL 5022</p></div>
        <div class="color" style="background: #4a668d;"><p class="ral-txt">RAL 5023</p></div>
        <div class="color" style="background: #5b9c96;"><p class="ral-txt">RAL 5024</p></div>
        <div class="color" style="background: #28657b;"><p class="ral-txt">RAL 5025</p></div>
        <div class="color" style="background: #102c54;"><p class="ral-txt">RAL 5026</p></div>
        <div class="color" style="background: #306653;"><p class="ral-txt">RAL 6000</p></div>
        <div class="color" style="background: #24762d;"><p class="ral-txt">RAL 6001</p></div>
        <div class="color" style="background: #2f562f;"><p class="ral-txt">RAL 6002</p></div>
        <div class="color" style="background: #414639;"><p class="ral-txt">RAL 6003</p></div>
        <div class="color" style="background: #233b40;"><p class="ral-txt">RAL 6004</p></div>

        <div class="color" style="background: #30443d;"><p class="ral-txt">RAL 6005</p></div>
        <div class="color" style="background: #3f3b33;"><p class="ral-txt">RAL 6006</p></div>
        <div class="color" style="background: #333b28;"><p class="ral-txt">RAL 6007</p></div>
        <div class="color" style="background: #38352b;"><p class="ral-txt">RAL 6008</p></div>
        <div class="color" style="background: #313829;"><p class="ral-txt">RAL 6009</p></div>
        <div class="color" style="background: #33692e;"><p class="ral-txt">RAL 6010</p></div>
        <div class="color" style="background: #587146;"><p class="ral-txt">RAL 6011</p></div>
        <div class="color" style="background: #353d41;"><p class="ral-txt">RAL 6012</p></div>
        <div class="color" style="background: #6d7056;"><p class="ral-txt">RAL 6013</p></div>
        <div class="color" style="background: #483f2e;"><p class="ral-txt">RAL 6014</p></div>
        <div class="color" style="background: #3a3c37;"><p class="ral-txt">RAL 6015</p></div>

        <div class="color" style="background: #1d5945;"><p class="ral-txt">RAL 6016</p></div>
        <div class="color" style="background: #4f903b;"><p class="ral-txt">RAL 6017</p></div>
        <div class="color" style="background: #56a53f;"><p class="ral-txt">RAL 6018</p></div>
        <div class="color" style="background: #beecb6;"><p class="ral-txt txt-black">RAL 6019</p></div>
        <div class="color" style="background: #2e3a24;"><p class="ral-txt">RAL 6020</p></div>
        <div class="color" style="background: #86ac7a;"><p class="ral-txt">RAL 6021</p></div>
        <div class="color" style="background: #232512;"><p class="ral-txt">RAL 6022</p></div>
        <div class="color" style="background: #348249;"><p class="ral-txt">RAL 6024</p></div>
        <div class="color" style="background: #3e632d;"><p class="ral-txt">RAL 6025</p></div>
        <div class="color" style="background: #025d50;"><p class="ral-txt">RAL 6026</p></div>
        <div class="color" style="background: #88c2be;"><p class="ral-txt txt-black">RAL 6027</p></div>

        <div class="color" style="background: #2e5445;"><p class="ral-txt">RAL 6028</p></div>
        <div class="color" style="background: #1e613b;"><p class="ral-txt">RAL 6029</p></div>
        <div class="color" style="background: #307f42;"><p class="ral-txt">RAL 6032</p></div>
        <div class="color" style="background: #4b7d74;"><p class="ral-txt">RAL 6033</p></div>
        <div class="color" style="background: #80b7b7;"><p class="ral-txt">RAL 6034</p></div>
        <div class="color" style="background: #1f532d;"><p class="ral-txt">RAL 6035</p></div>
        <div class="color" style="background: #193834;"><p class="ral-txt">RAL 6036</p></div>
        <div class="color" style="background: #018e38;"><p class="ral-txt">RAL 6037</p></div>
        <div class="color" style="background: #00bb2f;"><p class="ral-txt">RAL 6038</p></div>
        <div class="color" style="background: #78858b;"><p class="ral-txt">RAL 7000</p></div>
        <div class="color" style="background: #8b9497;"><p class="ral-txt">RAL 7001</p></div>

        <div class="color" style="background: #7d7b4f;"><p class="ral-txt">RAL 7002</p></div>
        <div class="color" style="background: #6e6e5c;"><p class="ral-txt">RAL 7003</p></div>
        <div class="color" style="background: #979894;"><p class="ral-txt">RAL 7004</p></div>
        <div class="color" style="background: #646b62;"><p class="ral-txt">RAL 7005</p></div>
        <div class="color" style="background: #706354;"><p class="ral-txt">RAL 7006</p></div>
        <div class="color" style="background: #676032;"><p class="ral-txt">RAL 7008</p></div>
        <div class="color" style="background: #4c5644;"><p class="ral-txt">RAL 7009</p></div>
        <div class="color" style="background: #48524f;"><p class="ral-txt">RAL 7010</p></div>
        <div class="color" style="background: #444b4e;"><p class="ral-txt">RAL 7011</p></div>
        <div class="color" style="background: #4f5655;"><p class="ral-txt">RAL 7012</p></div>
        <div class="color" style="background: #444633;"><p class="ral-txt">RAL 7013</p></div>

        <div class="color" style="background: #44474e;"><p class="ral-txt">RAL 7015</p></div>
        <div class="color" style="background: #283232;"><p class="ral-txt">RAL 7016</p></div>
        <div class="color" style="background: #24272c;"><p class="ral-txt">RAL 7021</p></div>
        <div class="color" style="background: #332f2c;"><p class="ral-txt">RAL 7022</p></div>
        <div class="color" style="background: #666d5e;"><p class="ral-txt">RAL 7023</p></div>
        <div class="color" style="background: #494a50;"><p class="ral-txt">RAL 7024</p></div>
        <div class="color" style="background: #31343d;"><p class="ral-txt">RAL 7026</p></div>
        <div class="color" style="background: #8b8c7b;"><p class="ral-txt">RAL 7030</p></div>
        <div class="color" style="background: #474b4e;"><p class="ral-txt">RAL 7031</p></div>
        <div class="color" style="background: #b8b79b;"><p class="ral-txt txt-black">RAL 7032</p></div>
        <div class="color" style="background: #7f8372;"><p class="ral-txt">RAL 7033</p></div>

        <div class="color" style="background: #908a67;"><p class="ral-txt">RAL 7034</p></div>
        <div class="color" style="background: #d8d5dc;"><p class="ral-txt txt-black">RAL 7035</p></div>
        <div class="color" style="background: #7c7877;"><p class="ral-txt">RAL 7036</p></div>
        <div class="color" style="background: #7f7e7b;"><p class="ral-txt">RAL 7037</p></div>
        <div class="color" style="background: #b3b6af;"><p class="ral-txt txt-black">RAL 7038</p></div>
        <div class="color" style="background: #6b695c;"><p class="ral-txt">RAL 7039</p></div>
        <div class="color" style="background: #9ea1a9;"><p class="ral-txt">RAL 7040</p></div>
        <div class="color" style="background: #8e948c;"><p class="ral-txt">RAL 7042</p></div>
        <div class="color" style="background: #4e5357;"><p class="ral-txt">RAL 7043</p></div>
        <div class="color" style="background: #cac4b3;"><p class="ral-txt txt-black">RAL 7044</p></div>
        <div class="color" style="background: #8f9091;"><p class="ral-txt">RAL 7045</p></div>

        <div class="color" style="background: #82898f;"><p class="ral-txt">RAL 7046</p></div>
        <div class="color" style="background: #d0d0d0;"><p class="ral-txt txt-black">RAL 7047</p></div>
        <div class="color" style="background: #898077;"><p class="ral-txt">RAL 7048</p></div>
        <div class="color" style="background: #826c32;"><p class="ral-txt">RAL 8000</p></div>
        <div class="color" style="background: #985e1e;"><p class="ral-txt">RAL 8001</p></div>
        <div class="color" style="background: #693d2b;"><p class="ral-txt">RAL 8002</p></div>
        <div class="color" style="background: #714325;"><p class="ral-txt">RAL 8003</p></div>
        <div class="color" style="background: #8f4027;"><p class="ral-txt">RAL 8004</p></div>
        <div class="color" style="background: #5a3420;"><p class="ral-txt">RAL 8007</p></div>
        <div class="color" style="background: #6c4f2d;"><p class="ral-txt">RAL 8008</p></div>
        <div class="color" style="background: #5f3829;"><p class="ral-txt">RAL 8011</p></div>

        <div class="color" style="background: #592321;"><p class="ral-txt">RAL 8012</p></div>
        <div class="color" style="background: #342a19;"><p class="ral-txt">RAL 8014</p></div>
        <div class="color" style="background: #643a34;"><p class="ral-txt">RAL 8015</p></div>
        <div class="color" style="background: #4b3026;"><p class="ral-txt">RAL 8016</p></div>
        <div class="color" style="background: #44312d;"><p class="ral-txt">RAL 8017</p></div>
        <div class="color" style="background: #3e3c37;"><p class="ral-txt">RAL 8019</p></div>
        <div class="color" style="background: #1e2221;"><p class="ral-txt">RAL 8022</p></div>
        <div class="color" style="background: #a2602e;"><p class="ral-txt">RAL 8023</p></div>
        <div class="color" style="background: #7a553a;"><p class="ral-txt">RAL 8024</p></div>
        <div class="color" style="background: #735b4a;"><p class="ral-txt">RAL 8025</p></div>
        <div class="color" style="background: #4e3c30;"><p class="ral-txt">RAL 8028</p></div>

        <div class="color" style="background: #763b2b;"><p class="ral-txt">RAL 8029</p></div>
        <div class="color" style="background: #fdf4e3;"><p class="ral-txt txt-black">RAL 9001</p></div>
        <div class="color" style="background: #e8ebd8;"><p class="ral-txt txt-black">RAL 9002</p></div>
        <div class="color" style="background: #f4f4f4;"><p class="ral-txt txt-black">RAL 9003</p></div>
        <div class="color" style="background: #27282a;"><p class="ral-txt">RAL 9004</p></div>
        <div class="color" style="background: #080808;"><p class="ral-txt">RAL 9005</p></div>
        <div class="color" style="background: #a4a4a4;"><p class="ral-txt">RAL 9006</p></div>
        <div class="color" style="background: #8c8f94;"><p class="ral-txt">RAL 9007</p></div>
        <div class="color" style="background: #fffefb;"><p class="ral-txt txt-black">RAL 9010</p></div>
        <div class="color" style="background: #1e1b19;"><p class="ral-txt">RAL 9011</p></div>
        <div class="color" style="background: #f3f6f8;"><p class="ral-txt txt-black">RAL 9016</p></div>
    </div>
</div>


<!--<img src="https://voronezh.tdkomfort.ru/upload/iblock/eb1/zehnder_3057_stalnye_trubchatye_radiatory_s_nizhney_podvodkoy_prozrachnyy_lak_15.jpg">-->

{% endblock%}